<main class="createPost_Main">

        <section class = "input_Section">

                <input type="text" class = "input_tags" placeholder="Title" id = "user_Helmet">

                <textArea type="text" class = "input_tags" placeholder = "About" id = "user_Armor"></textarea>

                <input type="hidden" class = "input_tags" placeholder = "Weapons" id = "user_Weapons">

                <input type="hidden" class = "input_tags" placeholder = "Cape" id = "user_Cape">
        
                <input type="hidden" class = "input_tags" placeholder = "About your Build" id = "user_About">

                <button type="submit" id ="post_Button">Post!</button>

        </section>
        

</main>